apiVersion: v1
kind: ConfigMap
metadata:
  name: php-fpm-sandbox-separate-cm
data:
  nginx.conf: |
    events {}

    http {
        upstream php_fpm {
            server localhost:9000;
            keepalive 64;
        }

        server {
            listen 80;
            server_name localhost;
            root /var/www/html;
            error_log stderr info;
            access_log stderr;
            location /favicon.ico {
                access_log off;
            }

            location ~ \.php$ {
                # try_files $uri =404;
                # fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_pass php_fpm;
                fastcgi_index index.php;
                include fastcgi_params;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_param PATH_INFO $fastcgi_path_info;

                add_header X-Content-Type-Options "nosniff";
            }

            location ~ ^/(status|ping)$ {
                access_log off;
                #allow 127.0.0.1;
                #allow 1.2.3.4#your-ip;
                #deny all;
                include fastcgi_params;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_pass php_fpm;
            }
        }
    }
